:root {
  /* Spotify */
  --black: #181818;
  --green: #1db954;
}

html {
  overflow: hidden;
}

nav {
  background-color: var(--black) !important;
}

.navbar-brand > .navbar-item {
  font-family: "Overpass", sans-serif;
  font-size: 30px;
}

.navbar-brand > .navbar-item > a {
  color: inherit;
}

/* Navbar buttons */
#navInscription {
  background-color: var(--green) !important;
}

.center {
  height: 100vh;
  width: 100vw;
}

/* footer {
  background-color: var(--green);
  position: absolute;
  bottom: 0;
  padding: 5px;
  color: white;
  width: 100%;
  text-align: center;
} */
