body {
  background-color: var(--green);
}

#logo-outer {
  padding: 0 150px;
}

#logo-letter {
  font-family: "Oleo Script", cursive;
  font-size: 200px;
}

#logo-letter,
#content > .title {
  color: white;
}

.is-1 {
  font-family: "Overpass", sans-serif;
}

button {
  width: 300px;
}
