body {
  background-color: var(--black);
}

#login {
  background-color: var(--green);
  border-radius: 5px;
  padding: 80px;
  transform: scale(1.1);
  width: 500px;
}

#login > h1,
.label {
  color: white;
}

.label {
  font-weight: bolder;
}
