.navbar {
  position: absolute;
  border-radius: 7px;
  left: 0;
  right: 0;
  margin: 15px auto 0 auto;
  width: 87.5%;
  z-index: 9999;
}

#geo,
#login,
#register {
  z-index: 9999;
}

#login > .modal-content,
#register > .modal-content {
  background-color: var(--green);
  border-radius: 5px;
  padding: 80px;
}

#login > .modal-content > h1,
#register > .modal-content > h1,
.label {
  color: white;
}

.label {
  font-weight: bolder;
}

#no-account,
#has-account {
  cursor: pointer;
}

#map {
  height: 100vh;
  width: 100vw;
  position: relative;
}
